body {
    background-color: rgb(113, 164, 161); /*color of page background - referring to the opening background color of Brown's website*/
    font-family: Questrial, Arial, Helvetica, sans-serif; /*Referred to Google font and includes fallback fonts */
    text-align: center;
}

p,ul {
    font-size: 16.5px;
}

h1, h3 { /*both the and questions fall under the same styling*/
    color: rgb(145, 1, 1); /*color of text*/
    font-family: Lexend, Arial, Helvetica, sans-serif; /*I chose Sans-Serif fonts Lexend and Questrial as they reflect the minimalist aesthetic of Brown's website, he himself using Sans-Serif fonts as well.*/
}

h2 {
    color: rgb(233, 255, 252); /* */
    font-family: Questrial, Arial, Helvetica, sans-serif;
}

div {   /*textboxes to organise and seperate each question/answer from eachother*/
    background-color: rgb(202, 216, 219);
    width: 85%;
    border:10px solid rgb(4, 100, 87);
    border-radius: 20px;
    padding: 20px; /*amount of spacing around the content inside the textbox*/
    margin: 20px auto; /*spacing in between each textbox*/
    display: flex;
    flex-direction:column; /*Puts the content (Question, Answer) in column order*/
    align-items: center; /*fixes the bullet points being at the beginning of the box rather than next to the text*/

}