body {
    background-color: rgb(191, 237, 214); /*colour of page*/
    font-family: Questrial, Arial, Helvetica, sans-serif; /*Referred to Google font and includes fallback fonts */
    text-align: center;
}


h1, h3 { /* both the and questions fall under the same styling*/
    color: maroon; /*color of text*/
    font-family: Lexend, Arial, Helvetica, sans-serif; /*I chose Sans-Serif fonts Lexend and Questrial as they reflect the minimalist aesthetic of Brown's website, he himself using Sans-Serif fonts as well.*/
}

h2 {
    color: rgb(1, 57, 1);
    font-family: Questrial, Arial, Helvetica, sans-serif;
}

div {   
 width: 85%;
  border:10px solid green;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  display: flex;
flex-direction:column;
background-color: rgb(209, 222, 211);
align-items: center;
}